/* Style général */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

/*************************************************MENU******************************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6bbfcb;
}


/* Taille du logo MENU */
.logo-image {
  width: 120px;
  height: auto;
}

/* Texte MENU*/
.nav a {
  margin: 0 10px;
  color: #000;
  text-decoration: none;
}

/* Animation texte MENU*/
.nav a.active {
  text-decoration: underline;
  font-weight: bold;
}
/* Survole texte MENU*/
.nav a:hover {
  text-decoration: underline;
}

/* Bouton authentification MENU */
.auth-buttons .auth-button {
  margin-left: 10px;
  background-color: #407bcd;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

/* Bouton authentification au survol MENU */
.auth-buttons .auth-button:hover {
  background-color: #003d82;
  transform: scale(1.05);
}






/***************************************************** Section de recherche **************************************************/
.search-section {
  margin-top:0px;
  padding: 20px;
  background-color: #d8eafc;
  text-align: center;
}

.search-form input, .search-form select, .search-form button {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-form button {
  background-color: #0056b3;
  color: white;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #003d82;
}




.search-form select {
  width: 200px; /* Ajuste la largeur du select */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-content {
  flex-grow: 1; /* Permet au contenu de prendre l'espace disponible */
  display: flex; /* Active flexbox pour le contenu enfant */
  justify-content: center; /* Centre horizontalement les enfants */
  align-items: center; /* Centre verticalement les enfants (si nécessaire) */
  flex-direction: column; /* Empile les enfants verticalement */
  width: 100%; /* Occupe toute la largeur disponible */
  height: auto; /* Ajuste la hauteur au contenu */
}


/***********************************************Pied de page*****************************************************************/
footer {
  background-color: #6bbfcb;
  position: relative;
  width: 100%;
  padding: 10px 0px;
  bottom: 0;
}

/*Contenu du Pied de page*/
.footer-content {
  display: flex;
  justify-content: center;
}

/*Image du Pied de page*/
.img_footer {
  display: flex;
  align-items: center; /* Centre l'image verticalement si nécessaire */
  margin-left: 50px; /* Déplace l'image vers la droite */
  z-index: 1; /* L'image aura un z-index inférieur */
}

/*Size image du Pied de page*/
.img_footer img {
  max-width: 100%; /* Pour s'assurer que l'image ne déborde pas */
  height: auto; /* Maintenir le ratio de l'image */
}

/*Table du Pied de page*/
.table_footer {
  width: auto; /* Taille automatique du tableau */
  margin: 3px auto; /* Centrer le tableau horizontalement avec un espace */
  border-spacing: 20px 0px; /* Espacement entre les colonnes et les lignes */
  justify-content: center;
  z-index: 2; /* Le tableau est au-dessus de l'image */

}

/*Table head du Pied de page*/
.table_footer th {
  text-align: left; /* Aligne le texte à gauche*/
  font-weight: bold;
}

/*Table td du Pied de page*/
.table_footer td {
  text-align: left; /* Aligne le texte à gauche */
  padding-top: 3px;
  padding-bottom: 8px; /* Ajoute de l'espace intérieur */
  text-decoration: none; /* Aucun soulignement par défaut */
}

/*Table texte td du Pied de page*/
.table_footer td a {
  text-decoration: none; /* Aucune décoration de texte par défaut pour les liens */
}

/* Table souglement des a au survols*/
.table_footer td a:hover {
  text-decoration: underline; /* Ajoute un soulignement lors du survol */
}

.copyright{
  padding-right: 10px;
  display: flex;
  align-items: center;
}

/*Logo du pied de page*/
.logo-size {
  width: 120px;
  height: auto;
  padding: auto;
  margin: auto;
}




@media (max-width: 768px) {
  .review {
      width: 80%; /* Sur les petits écrans, les blocs occupent 80% de la largeur */
      margin-bottom: 20px; /* Espacement vertical entre les avis */
  }
}

