/* Style général */
body {
    background: #dee6e2;
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    margin: 0;
    padding: 0;
    justify-content: center;    /* Centrer horizontalement */
    align-items: center;        /* Centrer verticalement */
    height: 100vh;              /* Prendre toute la hauteur de la fenêtre */
    min-height: 100vh;              /* Prendre toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
}

/* En-tête */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #6bbfcb;
  width: 97%;                /* Prendre toute la largeur */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 120px; /* Réduire la taille du logo */
  height: auto;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

.nav a.active {
  text-decoration: underline;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

/* Bouton authentification */
.auth-buttons .auth-button {
  margin-left: 10px;
  background-color: #407bcd;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.auth-buttons .auth-button:hover {
  background-color: #003d82;
  transform: scale(1.05);
}

/* Formulaire de connexion */
.Connexion {
    width: 700px;              /* Largeur du formulaire */
    background-color: white;
    padding: 40px;             /* Espacement interne du formulaire */
    border-radius: 8px;        /* Coins arrondis */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère autour du formulaire */
    margin: 0 auto;            /* Centrer horizontalement */
}

.Connexion h1 {
    font-weight: 500;
    margin-bottom: 10px;
}

.Connexion p {
    font-weight: 300;
    margin-bottom: 20px;
}

/* Style des champs du formulaire */
form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

form div > label {
    margin-bottom: 7px;
    font-weight: 600;
}

form div > input,
form div > select,
form div > textarea {
    background: #dee6e2;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
}

form div > input,
form div > textarea {
    height: 45px;             /* Hauteur des champs d'entrée */
    padding: 15px 10px;
}

/* Style du bouton de soumission */
form button {
    width: 250px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    background: #6bbfcb;
    border: 1px solid rgba(48, 48, 48, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #303030;
    cursor: pointer;
    margin-top: 20px;          /* Espacement au-dessus du bouton */
    margin-left: auto;         /* Centrer le bouton */
    margin-right: auto;        /* Centrer le bouton */
    display: block;
}

/* Effet au survol du bouton */
form button:hover {
    background-color: #f1f1f1;
}

/* Lien d'inscription */
form div > a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #0056b3;
    text-decoration: none;
}

form div > a:hover {
    text-decoration: underline;
}


/* Lien d'inscription et de mot de passe oublié */
form div > a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #0056b3;
    text-decoration: none;
}

form div > a.forgot-password {
    margin-top: 5px;         /* Ajustement de l'espacement vertical */
    text-align: right;        /* Aligner le texte à gauche */
    margin-left: 10px;       /* Espacement depuis le bord gauche */
}

form div > a:hover {
    text-decoration: underline;
}

/* Pied de page */
.footer {
    background-color: #6bbfcb;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    bottom: 0; 
    width: 98%;
    z-index: 10;
  }
  
  .footer a {
    margin: 0 15px; 
    text-decoration: none;
    color: #0056b3;
    font-size: 14px;
  }
  
  /* Logo */
  .logo-image-footer {
    margin-right: 15px; 
    width: 150px;
    height: auto;
  }
  
  .footer .copyright {
    color: #000000;
    font-size: 12px;
    margin-top: 10px; 
  }
