/* Style général */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  
  
/* Formulaire de connexion */
.Connexion {
    width: 700px;              /* Largeur du formulaire */
    background-color: white;
    padding: 40px;             /* Espacement interne du formulaire */
    border-radius: 8px;        /* Coins arrondis */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère autour du formulaire */
    margin: 0 auto;            /* Centrer horizontalement */
}

.Connexion h1 {
    font-weight: 500;
    margin-bottom: 10px;
}

.Connexion p {
    font-weight: 300;
    margin-bottom: 20px;
}

/* Style des champs du formulaire */
form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

form div > label {
    margin-bottom: 7px;
    font-weight: 600;
}

form div > input,
form div > select,
form div > textarea {
    background: #FFD9D9;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
}

form div > input,
form div > textarea {
    height: 45px;             /* Hauteur des champs d'entrée */
    padding: 15px 10px;
}

/* Style du bouton de soumission */
form button {
    width: 250px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    background: white;
    border: 1px solid rgba(48, 48, 48, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #303030;
    cursor: pointer;
    margin-top: 20px;          /* Espacement au-dessus du bouton */
    margin-left: auto;         /* Centrer le bouton */
    margin-right: auto;        /* Centrer le bouton */
    display: block;
}

/* Effet au survol du bouton */
form button:hover {
    background-color: #f1f1f1;
}

/* Lien d'inscription */
form div > a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #0056b3;
    text-decoration: none;
}

form div > a:hover {
    text-decoration: underline;
}


