.Connexion {
    width: 80%; /* Largeur relative à la fenêtre */
    max-width: 900px; /* Limite la largeur maximale */
    background-color: #F5F5DC;
    padding: 2em; /* Espacement interne en unités relatives */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
    position: relative;
    height: 100%; /* Ajuste automatiquement la hauteur selon le contenu */
}

.Connexion h1 {
    font-weight: 400;
    margin-bottom: 2em; /* Espacement en unités relatives */
    font-size: 1.8em; /* Taille du texte en unités relatives */
    text-align: center; /* Centrer le titre */
    margin-right: 10px
}

.Connexion p {
    font-weight: 300;
    margin-bottom: 1em; /* Espacement en unités relatives */
    font-size: 1em; /* Taille du texte relative */
}

/* Style des champs du formulaire */
form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em; /* Espacement entre les champs */

}

form div > label {
    margin-bottom: 0.5em; /* Espacement réduit en unités relatives */
    font-weight: 600;
    font-size: 1em;
}

form div > input,
form div > select,
form div > textarea {
    background: #dee6e2;
    border: none;
}

form div > input,
form div > textarea {
    height: auto; /* Ajuste la hauteur automatiquement */
    padding: 1em; /* Espacement interne relatif */
}

/* Style du bouton de soumission */
form button {
    width: 100%; /* Prend toute la largeur disponible */
    max-width: 250px; /* Limite la largeur maximale */
    height: auto; /* Ajuste automatiquement la hauteur */
    font-weight: 700;
    font-size: 1em;
    background: #6bbfcb;
    border: 1px solid rgba(48, 48, 48, 0.5);
    border-radius: 0.5em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #303030;
    cursor: pointer;
    margin: 1em auto; /* Espacement vertical et centrage horizontal */
    display: block;
    padding: 10px;
}

/* Effet au survol du bouton */
form button:hover {
    background-color: #f1f1f1;
}

/* Lien d'inscription et de mot de passe oublié */
form div > a {
    display: block;
    margin-top: 1em; /* Espacement entre les liens */
    text-align: center;
    color: #0056b3;
    font-size: 0.9em; /* Taille réduite pour plus de flexibilité */
    text-decoration: none;
}

form div > a:hover {
    text-decoration: underline;
}

form div > a.forgot-password {
    text-align: right; /* Aligne le texte à droite */
}
