.Connexion {
    width: 700px;              /* Largeur du formulaire */
    background-color: #F5F5DC;
    padding: 40px;             /* Espacement interne du formulaire */
    margin-left: 200px;
    position: relative;
}

.Connexion h1 {
    font-weight: 400;
    margin-bottom: 100px;
}

.Connexion p {
    font-weight: 300;
    margin-bottom: 20px;
}

/* Croix de fermeture */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1000;
}

.close-btn:hover {
    color: #ff0000;
}



/* Style des champs du formulaire */
form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

form div > label {
    margin-bottom: 7px;
    font-weight: 600;
}

form div > input,
form div > select,
form div > textarea {
    background: #dee6e2;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    margin-right: 60px;

}

form div > input,
form div > textarea {
    height: 45px;             /* Hauteur des champs d'entrée */
    padding: 15px 10px;
}

/* Style du bouton de soumission */
form button {
    width: 250px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    background: #6bbfcb;
    border: 1px solid rgba(48, 48, 48, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #303030;
    cursor: pointer;
    margin-top: 20px;          /* Espacement au-dessus du bouton */
    margin-left: auto;         /* Centrer le bouton */
    margin-right: auto;        /* Centrer le bouton */
    display: block;
}

/* Effet au survol du bouton */
form button:hover {
    background-color: #f1f1f1;
}

/* Lien d'inscription */
form div > a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #0056b3;
    text-decoration: none;
}

form div > a:hover {
    text-decoration: underline;
}


/* Lien d'inscription et de mot de passe oublié */
form div > a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #0056b3;
    text-decoration: none;
}

form div > a.forgot-password {
    margin-top: 5px;         /* Ajustement de l'espacement vertical */
    text-align: right;        /* Aligner le texte à gauche */
    margin-left: 10px;       /* Espacement depuis le bord gauche */
}

form div > a:hover {
    text-decoration: underline;
}

