/* Style global */
body {
    background: #dee6e2;
    font-family: 'Montserrat', sans-serif;
    color: #303030;
    margin: 0;
    padding: 0;
    justify-content: center;    /* Centrer horizontalement */
    align-items: center;        /* Centrer verticalement */
    height: 100vh;              /* Prendre toute la hauteur de la fenêtre */
}

/* En-tête */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#6bbfcb;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 120px; /* Réduire la taille du logo */
    height: auto;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav a.active {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }

.auth-buttons .button {
    background-color:#407bcd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

/* Formulaire de contact */
.contactez-nous {
    width: 700px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0 50px;
    background: white;
    margin-top: 20px;
}

.contactez-nous h1 {
    font-weight: 500;
    margin-bottom: 10px;
}

.contactez-nous p {
    font-weight: 300;
    margin-bottom: 20px;
}

/* Style des champs du formulaire */
form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
}

form div > label {
    margin-bottom: 7px;
    font-weight: 600;
}

form div > input,
form div > select,
form div > textarea {
    background: #dee6e2;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
}

form div > input,
form div > select {
    height: 50px;
}

form div > select {
    appearance: none;
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
}

form div > textarea {
    height: 195px;
    padding: 15px 10px;
}

form div > select:invalid {
    color: rgb(104, 92, 92);
}

form div > select option {
    background: white;
    color: #303030;
}

form div:last-child {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form button {
    width: 250px;
    max-width: 500px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    background: #6bbfcb;
    border: 1px solid rgba(48, 48, 48, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #303030;
    cursor: pointer;
    margin-left: auto;         /* Centrer le bouton */
    margin-right: auto;        /* Centrer le bouton */
}

form button:hover {
    background-color: #f1f1f1;
    align-items: center;        /* Centrer verticalement */
    
}

.Inscription{
    width: 600px;              /* Largeur du formulaire */
    background-color: white;
    padding: 40px;             /* Espacement interne du formulaire */
    border-radius: 8px;        /* Coins arrondis */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère autour du formulaire */
    position: relative;
    left:27% ;
}

/* Lien d'inscription */
form div > a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #0056b3;
    text-decoration: none;
}

/* Pied de page */
.footer {
    background-color: #6bbfcb;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    bottom: 0; 
    width: 100%;
    z-index: 10;
  }
  
  .footer a {
    margin: 0 15px; 
    text-decoration: none;
    color: #0056b3;
    font-size: 14px;
  }
  
  /* Logo */
  .logo-image-footer {
    margin-right: 15px; 
    width: 150px;
    height: auto;
  }
  
  .footer .copyright {
    color: #000000;
    font-size: 12px;
    margin-top: 10px; 
  }